In [20]:
# Import the modules
import glob, os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import numpy
import math
plt.close("all")

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Set the working directory and print it
os.chdir(r'C:\Users\User\OneDrive\ERASMUS\4_Thesis\python\quality\water-types')
print("Current Working Directory " , os.getcwd())

Current Working Directory  C:\Users\User\OneDrive\ERASMUS\4_Thesis\python\quality\water-types

In [17]:
# Define a table with the main compounds used, molar weights, and activity
comp = ["Na","K","Mg","Ca","NH4","Cl","HCO3","SO4","NO3","Fe2","Mn2"]
molarw = [22.989,39.098,24.305,40.078,18.039,35.453,61.016,96.062,62.004,55.847,54.931]
molarnum = [1,1,2,2,1,1,1,2,1,2,2]
comptable = pd.DataFrame(index = comp)
comptable["mw_mg_mmol"] = molarw
comptable["mnum"] = molarnum

comptable

      mw_mg_mmol  mnum
Na        22.989     1
K         39.098     1
Mg        24.305     2
Ca        40.078     2
NH4       18.039     1
Cl        35.453     1
HCO3      61.016     1
SO4       96.062     2
NO3       62.004     1
Fe2       55.847     2
Mn2       54.931     2

In [18]:
# Read the a table with quality data
path =r'C:\Users\User\OneDrive\ERASMUS\4_Thesis\python\quality\water-types\quality_data.xlsx'
q_data=pd.read_excel(path)
q_data.set_index('Sample', inplace=True)
q_data

,pH,Na,K,Mg,Ca,NH4,Cl,HCO3,SO4,NO3,Fe2,Mn2
Sample,,,,,,,,,,,,
1,5.52,4.2,2.2,4.2,6,0.06,5.0,4,31.0,4.4,0.07,0.080
2,6.03,8.9,0.9,0.7,2,0.06,15.0,5,3.0,1.2,0.04,0.001
3,6.58,5.8,0.7,1.0,4,0.08,8.0,13,6.0,0.0,2.60,0.030
4,6.38,6.4,0.8,0.7,5,0.04,9.0,24,6.0,0.0,0.67,0.040
5,7.13,17.0,27.0,9.4,140,0.63,19.0,480,80.0,0.0,14.80,0.620
6,7.53,19.0,3.2,11.6,133,0.06,34.0,229,160.0,35.0,0.02,0.520
7,7.74,21.0,2.4,11.2,94,0.07,33.0,146,81.0,110.0,0.02,0.200
8,7.68,15.0,0.7,5.0,80,0.11,30.0,191,58.0,0.0,2.10,0.130
9,7.48,54.0,5.0,8.7,98,0.04,80.0,245,94.0,0.2,0.07,0.440
10,8.16,30.0,1.8,11.1,73,0.01,48.0,81,64.0,110.0,0.03,0.000

In [19]:
# Convert the initial values from mg/L to mmol/L and finally to meq/L
q_datammol_l = q_data
q_datameq_l = q_data

for i in (range((q_data.shape[1]-1))):
    q_datammol_l.iloc[:,i+1] = q_data.iloc[:,i+1]/comptable["mw_mg_mmol"].loc[q_data.columns[i+1]]

for i in (range((q_data.shape[1]-1))):
    q_datameq_l.iloc[:,i+1] = q_datammol_l.iloc[:,i+1]*comptable["mnum"].loc[q_data.columns[i+1]]

q_datameq_l

,pH,Na,K,Mg,Ca,NH4,Cl,HCO3,SO4,NO3,Fe2,Mn2
Sample,,,,,,,,,,,,
1,5.52,0.182696,0.056269,0.345608,0.299416,0.003326,0.141032,0.065557,0.645417,0.070963,0.002507,0.002913
2,6.03,0.387142,0.023019,0.057601,0.099805,0.003326,0.423095,0.081946,0.062460,0.019354,0.001432,0.000036
3,6.58,0.252295,0.017904,0.082288,0.199611,0.004435,0.225651,0.213059,0.124919,0.000000,0.093112,0.001092
4,6.38,0.278394,0.020461,0.057601,0.249513,0.002217,0.253857,0.393339,0.124919,0.000000,0.023994,0.001456
5,7.13,0.739484,0.690572,0.773503,6.986377,0.034924,0.535921,7.866789,1.665591,0.000000,0.530020,0.022574
6,7.53,0.826482,0.081846,0.954536,6.637058,0.003326,0.959016,3.753114,3.331182,0.564480,0.000716,0.018933
7,7.74,0.913480,0.061384,0.921621,4.690853,0.003880,0.930810,2.392815,1.686411,1.774079,0.000716,0.007282
8,7.68,0.652486,0.017904,0.411438,3.992215,0.006098,0.846191,3.130326,1.207553,0.000000,0.075205,0.004733
9,7.48,2.348949,0.127884,0.715902,4.890464,0.002217,2.256509,4.015340,1.957069,0.003226,0.002507,0.016020
10,8.16,1.304972,0.046038,0.913392,3.642896,0.000554,1.353905,1.327521,1.332473,1.774079,0.001074,0.000000

In [10]:
# Define the summary table that will be filled in the following interactions
wtypes = pd.DataFrame(q_data["pH"])
wtypes["MCation"] = "-999"
wtypes["MAnion"] = "-999"
wtypes["Salinity"] = "-999"
wtypes["Alkalinity"] = "-999"
wtypes["BEX"] = "-999"

In [21]:
# Main intereactions to define the water types:
for i in range(len(q_data)):
    pH = q_datameq_l.iloc[i].loc["pH"]
    Na = q_datameq_l.iloc[i].loc["Na"]
    K = q_datameq_l.iloc[i].loc["K"]
    Mg = q_datameq_l.iloc[i].loc["Mg"]
    Ca = q_datameq_l.iloc[i].loc["Ca"]
    NH4 = q_datameq_l.iloc[i].loc["NH4"]
    Cl = q_datameq_l.iloc[i].loc["Cl"]
    HCO3 = q_datameq_l.iloc[i].loc["HCO3"]
    SO4 = q_datameq_l.iloc[i].loc["SO4"]
    NO3 = q_datameq_l.iloc[i].loc["NO3"]
    Fe = q_datameq_l.iloc[i].loc["Fe2"]
    Mn2 = q_datameq_l.iloc[i].loc["Mn2"]
    Al = 0
    CO3 = 0
    NO2 = 0
    
    #Major cation:
    if (Na + K) + NH4 > Ca + Mg + 10**(-pH)*1000 + Fe + Mn2:
        if NH4 > (Na+K):
            wtypes["MCation"].iloc[i] = "NH4"
        elif Na > K:
            wtypes["MCation"].iloc[i]  = "Na"
        else:
            wtypes["MCation"].iloc[i]  = "K"
    elif (Ca + Mg) > (10**(-pH)*1000 + Fe + Mn2):
        if Ca > Mg:
            wtypes["MCation"].iloc[i]  = "Ca"
        else:
            wtypes["MCation"].iloc[i]  = "Mg"
    elif 10**(-pH)*1000 > (Fe + Mn2): 
        if Al > 10**(-pH)*1000:
            wtypes["MCation"].iloc[i]  = "Al"
        else:
            wtypes["MCation"].iloc[i]  = "H"
    else:
        if Fe > Mn2:
            wtypes["MCation"].iloc[i]  = "Fe2"
        else:
            wtypes["MCation"].iloc[i]  = "Mn2"
    
    # Major anion:         
    if Cl > (HCO3+SO4+NO3+NO2+CO3):
        wtypes["MAnion"].iloc[i] = "Cl"
    else:
        
        if HCO3 + CO3 > (Cl + SO4 + NO3 + NO2):
            
            if HCO3 > CO3:
                wtypes["MAnion"].iloc[i] = "HCO3"
                
            else:
                
                wtypes["MAnion"].iloc[i] = "CO3"
        elif (SO4 + NO3 + NO2) > (HCO3 + CO3 + Cl):
            
            if SO4 > (NO3 + NO2):
                wtypes["MAnion"].iloc[i] = "SO4"
            else:
                wtypes["MAnion"].iloc[i] = "NO3"
        else:
            wtypes["MAnion"].iloc[i] = "MIX"
         
            
        
    # Salinity:
    if Cl >= 564.127:
        wtypes["Salinity"].iloc[i] = "H"
    else:
            
        if 282.064 <= Cl < 564.127:
            wtypes["Salinity"].iloc[i] = "s"
        elif 28.206 <= Cl < 282.064:
            wtypes["Salinity"].iloc[i] = "b"            
        elif 8.462 <= Cl < 28.206:
            wtypes["Salinity"].iloc[i] = "B"                   
        elif 4.231 <= Cl < 8.462:
            wtypes["Salinity"].iloc[i] = "f" 
        elif 0.846 <= Cl < 4.231:
            wtypes["Salinity"].iloc[i] = "F" 
        elif 0.141 <= Cl < 0.846:
            wtypes["Salinity"].iloc[i] = "g" 
        else:
            wtypes["Salinity"].iloc[i] = "G" 
            
    # Alkalinity:
    if HCO3 < 0.5:
        wtypes["Alkalinity"].iloc[i] = "*"
    else:
        if 0.5 < HCO3 <= 1:
            wtypes["Alkalinity"].iloc[i] = "0"
        elif Cl >= 512:
            wtypes["Alkalinity"].iloc[i] = "9"            
        else:
            wtypes["Alkalinity"].iloc[i] = str(int(np.log10(HCO3)/np.log10(2) + 1))
   
    # BEX:
    if (Na + K + Mg) - 1.0716*Cl < -(0.5 + 0.02*Cl):
        wtypes["BEX"].iloc[i] = "-"
    else:
        if (Na + K + Mg) - 1.0716*Cl > (0.5 + 0.02*Cl):
            wtypes["BEX"].iloc[i] = "+"
        else:
            wtypes["BEX"].iloc[i] = ""

In [22]:
wtypes

          pH MCation MAnion Salinity Alkalinity BEX       Code
Sample
1       5.52      Mg    SO4        g          *        g*MgSO4
2       6.03      Na     Cl        g          *         g*NaCl
3       6.58      Ca    MIX        g          *        g*CaMIX
4       6.38      Ca   HCO3        g          *       g*CaHCO3
5       7.13      Ca   HCO3        g          3   +  g3CaHCO3+
6       7.53      Ca    MIX        F          2   +   F2CaMIX+
7       7.74      Ca    NO3        F          2   +   F2CaNO3+
8       7.68      Ca   HCO3        F          2       F2CaHCO3
9       7.48      Ca    MIX        F          3   +   F3CaMIX+
10      8.16      Ca    NO3        F          1   +   F1CaNO3+

In [13]:
# Concatenation to form the main water type code:
wtypes["Code"] = wtypes["Salinity"] + wtypes["Alkalinity"] + wtypes["MCation"] + wtypes["MAnion"] + wtypes["BEX"]
wtypes

In [16]:
# Saving the table in xlsx:
dataname="water_facies"
path_output=r'C:\Users\User\OneDrive\ERASMUS\4_Thesis\python\quality\water-types'   
wtypes.to_excel(path_output + '/'+str(dataname)+'.xlsx')