## Usage

#### Step 1. Importing libraries and preparing dataframes:

In [1]:
# Import the modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import numpy

In [2]:
# Read the a table with quality data
path ='quality_data.xlsx'
q_data=pd.read_excel(path)
q_data.set_index('Sample', inplace=True)
q_data

,pH,Na,K,Mg,Ca,NH4,Cl,HCO3,SO4,NO3,Fe2,Mn2
Sample,,,,,,,,,,,,
1,5.52,4.2,2.2,4.2,6,0.06,5.0,4,31.0,4.4,0.07,0.080
2,6.03,8.9,0.9,0.7,2,0.06,15.0,5,3.0,1.2,0.04,0.001
3,6.58,5.8,0.7,1.0,4,0.08,8.0,13,6.0,0.0,2.60,0.030
4,6.38,6.4,0.8,0.7,5,0.04,9.0,24,6.0,0.0,0.67,0.040
5,7.13,17.0,27.0,9.4,140,0.63,19.0,480,80.0,0.0,14.80,0.620
6,7.53,19.0,3.2,11.6,133,0.06,34.0,229,160.0,35.0,0.02,0.520
7,7.74,21.0,2.4,11.2,94,0.07,33.0,146,81.0,110.0,0.02,0.200
8,7.68,15.0,0.7,5.0,80,0.11,30.0,191,58.0,0.0,2.10,0.130
9,7.48,54.0,5.0,8.7,98,0.04,80.0,245,94.0,0.2,0.07,0.440
10,8.16,30.0,1.8,11.1,73,0.01,48.0,81,64.0,110.0,0.03,0.000

#### Step 2. Importing Water-Type function

In [3]:
from wtypes import water_type_classification

#### Step 3. Running the function:
the function takes two arguments:

* data-frame: samples dataframe
* unit: unit of the concentrations, either mmol/L, mg/L, meq/L

In [4]:
wtypes = water_type_classification(q_data, unit = 'mg/L')

RuntimeError: Water-Type Classification diagram requires geochemical parameters:
            {'K', 'Mg', 'NH4', 'Al', 'Mn', 'CO3', 'Na', 'Cl', 'Ca', 'NO2', 'pH', 'NO3', 'Fe', 'SO4', 'HCO3'}.
            Confirm that these parameters are provided in the input file.

***ERROR !!!***

We got an error. This is because the classification requires all parameters in the original paper from Stuyfzand (1989) are present. We can fix this by creating 0 valued columns for the missing parameters. Another problem are the names of the parameters, in our case, Fe and Mn are declared as Fe2 and Mn2.

##### Fixing dataframe:

In [5]:
missing_pars = ['CO3','Al','NO2']
for par in missing_pars:
    q_data[par] = 0
q_data.rename({'Fe2':'Fe','Mn2':'Mn'},axis='columns',inplace=True)

##### Rerunning:

In [6]:
q_data

,pH,Na,K,Mg,Ca,NH4,Cl,HCO3,SO4,NO3,Fe,Mn,CO3,Al,NO2
Sample,,,,,,,,,,,,,,,
1,5.52,4.2,2.2,4.2,6,0.06,5.0,4,31.0,4.4,0.07,0.080,0,0,0
2,6.03,8.9,0.9,0.7,2,0.06,15.0,5,3.0,1.2,0.04,0.001,0,0,0
3,6.58,5.8,0.7,1.0,4,0.08,8.0,13,6.0,0.0,2.60,0.030,0,0,0
4,6.38,6.4,0.8,0.7,5,0.04,9.0,24,6.0,0.0,0.67,0.040,0,0,0
5,7.13,17.0,27.0,9.4,140,0.63,19.0,480,80.0,0.0,14.80,0.620,0,0,0
6,7.53,19.0,3.2,11.6,133,0.06,34.0,229,160.0,35.0,0.02,0.520,0,0,0
7,7.74,21.0,2.4,11.2,94,0.07,33.0,146,81.0,110.0,0.02,0.200,0,0,0
8,7.68,15.0,0.7,5.0,80,0.11,30.0,191,58.0,0.0,2.10,0.130,0,0,0
9,7.48,54.0,5.0,8.7,98,0.04,80.0,245,94.0,0.2,0.07,0.440,0,0,0
10,8.16,30.0,1.8,11.1,73,0.01,48.0,81,64.0,110.0,0.03,0.000,0,0,0

In [7]:
wtypes = water_type_classification(q_data, unit = 'mg/L')

In [8]:
wtypes

  MCation MAnion Salinity Alkalinity BEX        Code
0      Mg    SO4        g          *        g*-MgSO4
1      Na     Cl        g          *         g*-NaCl
2      Ca    MIX        g          *        g*-CaMIX
3      Ca   HCO3        g          *       g*-CaHCO3
4      Ca   HCO3        g          3   +  g3-CaHCO3+
5      Ca    MIX        F          2   +   F2-CaMIX+
6      Ca    NO3        F          2   +   F2-CaNO3+
7      Ca   HCO3        F          2       F2-CaHCO3
8      Ca    MIX        F          3   +   F3-CaMIX+
9      Ca    NO3        F          1   +   F1-CaNO3+

#### Step 4. Exporting Results

In [9]:
# Saving the table in xlsx:
dataname="water_facies"
wtypes.to_excel(f'{dataname}.xlsx')